<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Resume</title>
	<link rel="stylesheet" href="css/style01.css">

</head>

<body>
		<h1>Online Job Appication Form</h1>  
		<div>
		<form>
			<fieldset>
				<legend>Student Information</legend>
				<table>
					<tr>
						<td>FirstName</td>
						<td><input type="text" name="n1"></td>
						<td>MiddileName</td>
						<td><input type="text" name="n1"></td>
						<td>LastName</td> 
						<td><input type="text" name="n1"></td>
					</tr>
					<tr>
						<td>Father's Name</td>
						<td><input type="text" name="n1"></td>
						<td>Mother's Name</td>
						<td><input type="text" name="n1"></td>
					</tr>
					<tr>
						<td>Current Address</td>
						<td><textarea cols="24" rows="4"></textarea></td>
						<td>Permanent Address</td>
						<td><textarea cols="24" rows="4"></textarea></td>
					</tr>
					<tr><td><label>Phone Number</label></td></tr>
					<tr>
						<td>LandLine Number</td>
						<td><input type="text" name="number"></td>
						<td>Mobile Number</td>
						<td><input type="text" name="number"></td>
					</tr>
					<tr>
						<td>Date Of Birth</td>
						<td><input type="date" name="birthday"></td>
						<td>Place Of Birth</td>
						<td><input tyoe="text" name="place"></td>
					</tr>
					<tr>
						<td>Gender</td>
						<td>
							<input type="radio" name="a">Male
							<input type="radio" name="a">Female
						</td>
					</tr>
					<tr>
						<td>Highest Qualification</td>
						<td><input type="text" name="qualification"></td>
						<td>Year Of Passing</td>
						<td><input type="month" name="year"></td>
					</tr>
					<tr>
						<td>Languages Known</td>
						<td>
							<input type="checkbox" name="language">English
						    <input type="checkbox" name="language">Hindi
						    <input type="checkbox" name="language">Tamil
						</td>
					</tr>
					<tr>
						<td>Select Your Hobbies</td>
						<td colspan=2>
							<input type="checkbox" name="Hobbies">Reading
							<input type="checkbox" name="Hobbies">Travelling
							<input type="checkbox" name="Hobbies">Cooking
						</td>
					</tr>
					<tr>
						<td>About Yourself</td>
						<td><textarea cols="24" rows="4"></textarea></td>
					</tr>
					<tr>
						<td>Nationality</td>
						<td>
						<select>
							<option>India</option>
							<option>USA</option>
							<option>Italy</option>
							<option>England</option>
							<option>China</option>
							<option>Japan</option>
							<option>Germany</option>
							<option>Australia</option>
							<option>New Zealand</option>
							<option>Singapore</option>
						</select>
					</td>
					</tr>
					<tr>
						<td>AadhaarCard Number</td>
						<td><input type="text" name="aadhar"></td>
						<td>PanCard Number</td>
						<td><input type="text" name="pan"></td>
					</tr>
				</table>
			</fieldset>
			<fieldset>
				<legend>Educational Details</legend>
				<table>
					<tr>
						<td>S.no</td>
						<td>Qualification</td>
						<td>Institute/University</td>
						<td>Year Of Passing</td>
						<td>Marks in %</td>
					</tr>
					<tr>
						<td>1.</td>
						<td><input type="text" name="qualification"></td>
						<td><input type="text" name="Institute"></td>
						<td><input type="month"name="year"></td>
						<td><input type="text" name="mark"></td>
					</tr>
					<tr>
						<td>2.</td>
						<td><input type="text" name="qualification"></td>
						<td><input type="text" name="Institute"></td>
						<td><input type="month"name="year"></td>
						<td><input type="text" name="mark"></td>
					</tr>
					<tr>
						<td>3.</td>
						<td><input type="text" name="qualification"></td>
						<td><input type="text" name="Institute"></td>
						<td><input type="month"name="year"></td>
						<td><input type="text" name="mark"></td>
					</tr>
				</table>
			</fieldset>
			<fieldset>
				<table>
					<legend>Work Experience</legend>
					<tr>
						<td>S.no</td>
						<td>Work</td>
						<td>Company</td>
						<td>From Date</td>
						<td>To Date</td>
					</tr>
					<tr>
						<td>1.</td>
						<td><textarea cols="24" rows="4"></textarea></td>
						<td><textarea cols="24" rows="4"></textarea></td>
						<td><input type="month" name="date"></td>
						<td><input type="month" name="datee"></td>
					</tr>
					<tr>
						<td>2.</td>
						<td><textarea cols="24" rows="4"></textarea></td>
						<td><textarea cols="24" rows="4"></textarea></td>
						<td><input type="month" name="date"></td>
						<td><input type="month" name="datee"></td>
					</tr>
					<tr>
						<td>3.</td>
						<td><textarea cols="24" rows="4"></textarea></td>
						<td><textarea cols="24" rows="4"></textarea></td>
						<td><input type="month" name="date"></td>
						<td><input type="month" name="datee"></td>
					</tr>
				</table>
			</fieldset>
			<fieldset>
				<table>
					<legend>Other Details</legend>
						<tr>
							<td>Job Type</td>
							<td>
								<input type="radio" name="job">Permanent
								<input type="radio" name="job">Contract
								<input type="radio" name="job">Other
							</td>
						</tr>
						<tr>
							<td>Date Of Joining</td>
							<td><input type="date" name="date"></td>
							<td>Time Of Joining</td>
							<td><input type="date" name="date"></td>
						</tr>
						<tr>
							<td>Preffered Job Location</td>
							<td>
								<input type="radio" name="loaction">Bangalore
								<input type="radio" name="loaction">Chennai
								<input type="radio" name="loaction">Mumbai
							</td>
						</tr>
						<tr>
							<td>Willing to relocate</td>
							<td>
								<input type="radio" name="a">Yes
								<input type="radio" name="a">No
							</td>
						</tr>
						<tr>
							<td  colspan=3>I am here declaring that all the above mentioned information is true as per my knowledge.</td>
						</tr>
						<tr style="text-align: center;">
							<td colspan=2><input type="submit" name="submit"></td>
							<td><input type="reset" name="reset"></td>
						</tr>
					</table>
				</fieldset>
		</form>
	</div>
    <h6><a href="{% url 'Registration' %}">Travel to Registration page</a></h6>
    <h6><a href="{% url 'online_Form' %}">online_Form page</a></h6>
    <h6><a href="{% url 'app2:sourav' %}">sourav Page</a></h6> 
    <h6><a href="{% url 'app2:Asish' %}">Asish Page</a></h6> 
</body>
</html>